@import "base";
@import "tooltip";

.point {
    stroke-width: 1;
    fill-opacity: 0.3;
    stroke-opacity: 0.8
}

.marker {
    shape-rendering: auto;
}

.value text {
    fill: #666;
}

.axis-label {
    font-size: 12px;
    font-weight: bold;
    fill: #666;
}

.label {
    font-size: 12px;
    position: absolute;
    white-space: nowrap;
    color: #666;
    text-anchor: middle;
    dominant-baseline: auto;

    &.shadow {
        stroke: #fff;
        stroke-width: 4px;
    }

    &.above {
    }
    &.below {
        dominant-baseline: hanging;
    }
    &.left {
        text-anchor: end;
        dominant-baseline: central;
    }
    &.right {
        text-anchor: start;
        dominant-baseline: central;
    }

}

.group-legend {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 1;

    div {
        display: inline-block;
        margin-right: 10px;
        white-space: nowrap;
    }

    svg {
        vertical-align: bottom;
    }
}

@media screen and (max-width: 500px) {
    .value text,
    .axis-label {
        font-size: 10px;
    }

    .label {
        font-size: 11px;
    }
}
