@import "base";
@import "labels";


.sparkline {
    fill: none;
    stroke: dimgray;
    stroke-width: 0.5px;
}

.sparkcircle {
    fill: dodgerblue;
    stroke: none;
}
.data-minimum,
.data-maximum {
    fill: #444;
}

.labels {
    white-space: nowrap; 
}

.graphics-wrapper .key {
    display: inline-block;
    vertical-align: middle;
}

.sparkline-values ul li {
    font-size: 10px;
}

.min-max {

}

.end-value span {
    color: dodgerblue;
    font-weight: bold;
}


@media screen and (min-width: 500px) {

}