@import "base";
@import "labels";


.sparkline {
    fill: none;
    stroke: dimgray;
    stroke-width: 0.5px;
}

.sparkcircle {
    fill: dodgerblue;
    stroke: none;
}
.data-minimum,
.data-maximum {
    fill: #333;
}

.graphics-wrapper .key {
    display: inline-block;
    vertical-align: middle;
}


@media screen and (min-width: 500px) {

}